body{
    font-family: 'SF Pro Display', sans-serif;
}
header{
    display: flex;
    background-color: #2f2a2d;
    justify-content: space-between;
    color: #fafafa;
    padding: 30px 80px;
}
button{
    outline: none;
}
.logo{

    text-transform: uppercase;
    font-weight: bold;
}
.btn-cart{
    background-color: #fafafa;
    padding: 10px 20px;
    border: 1px solid transparent;
    color: #2f2a2d;
    border-radius: 5px;
    transition: all ease-in-out .4s;
    cursor: pointer;
}
.btn-cart:hover{
    background-color: transparent;
    border-color: #fafafa;
    color: #fafafa;
}
.buy-btn:hover, .del-btn:hover{
    background-color: #fafafa;
    color: #2f2a2d;
    border: 1px solid #2f2a2d;
}
.btn-cart, .logo{
    align-self: center;
}
.products{
    column-gap: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    grid-template-rows: 1fr;
    padding: 40px 80px;
    justify-content: space-between;
}
p {
    margin: 0 0 5px 0;
}
.product-item{
    display: flex;
    flex-direction: column;
    width: 200px;
    border-radius: 5px;
    overflow: hidden;
    margin: 20px 0;
}
img {
    max-width: 100%;
    height: auto
}
.desc {
    border: 1px solid #c0c0c040;
    padding: 15px
}
.none{
    display: none;
}
.cart{
    position: relative;
}
.cart-list{
    position: absolute;
    box-sizing: border-box;
    right: 0;
    background-color: white;
    padding: 20px;
    color: black;
    width: 300px;
    box-shadow: 0 0 5px #2f2a2d;
}
.buy-btn, .del-btn{
    margin-top: 5px;
    background-color: #2f2a2d;
    padding: 5px 10px;
    color: #fafafa;
    transition: all ease-in-out .4s;
    cursor: pointer;
}
.cart-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.cart-item-left{
    display: flex;
}
.cart-item img{
    align-self: flex-start;
    margin-right: 10px;
}
.cart-product{
    max-width: 60%;
}
.cart-product-quantity {
    margin-top: 10px;
}
.cart-item-right{
    text-align: right;
}
.cart-product-price{
    margin-left: 30px;
}